*
{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:5000px;
    background: linear-gradient(45deg, #edeff5, #acbcce ,#6a7f99 45%);
    padding-top:64px;
}
.navbar{
    position: fixed;
    width:100%;
    height:64px;
    align-items: center;
    background-color: #193c62;
    z-index: 11;
    margin-bottom: 100px;
    top:0px;
}
.col1{
    margin-left:20px;
    width:15%;
    justify-content: center;
}
.outer{
    font-size: 1.5em;
    color:red;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.inner{
    color:black;
}
.col2{
    width:70%;
    justify-content: right;
    gap:20px;
}
.col2{
    transition: all 0.5s ease;
    transform-origin: left;
}
.col2 ul{
    gap:20px;
}
.col2 ul li{
    font-size: 1.4em;
    color:whitesmoke;
    position: relative;
    text-decoration: none; 
}
.col2 ul li:hover {
    color: whitesmoke;
}
  
.col2 ul li::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.col2 ul li:hover::before {
    transform: scaleX(1);
}

.col2 .searchbar{
    justify-content: center;
    align-items: center;
}
.col2 .searchbar .search{
    display: none;
    width:0px;
    height:125%;
    border-radius: 30px;
    border: 2px solid black;
    outline: none;
    padding:1px 10px;
    transition: all 1s ease-in-out;
}
.col2 .searchbar .icon{
    font-size:1.4em;
    color:whitesmoke;
}
.col2 .searchbar .cross{
    display: none;
    font-size:1.4em;
    color:whitesmoke;
}
.col3{
    width:15%;
    justify-content: right;
    margin-right:30px;
}
.col3 ul{
    gap:20px;
}
.col3 ul li{
    font-size: 1.3em;
    color:whitesmoke;
}
.openmenu{
    color:whitesmoke;
    font-size: 0;
}
.closemenu{
    color:whitesmoke;
    font-size: 0;
}
.nav2{
    display: none;
    position:absolute;
    width:0;
    overflow: hidden;
    background-color:#243b55;
    transition: all 0.5s ease;
    z-index: 9;
}
.open{
    width:25%;
    flex-direction: column;
    justify-content: center;
    margin:auto;
}
.open li{
    text-align: center;
    line-height: 40px;
    font-size: 1.4em;
    color:whitesmoke;

}


.open li{
    font-size: 1.4em;
    color:whitesmoke;
    position: relative;
    text-decoration: none; 
}
.open li:hover {
    color: whitesmoke;
}
  
.open li::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.open li:hover::before {
    transform: scaleX(1);
}
.offers{
    position:relative;
    width:100%;
    height:auto;
    background: rgb(195, 194, 194);
    background-image: url(../Images/backgrounds/blog-pattern-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container1{
    width:100%;
    height: 340px;
}
.carousel .carousel-cell img{
    width:96%;
    height:300px;
    border:2px solid grey;
    margin-top:10px;
    margin-left:2%;
}
.recommended{
    width:100%;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #193c62;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.recommended span{
    text-transform: uppercase;
    font-weight: 700;
    font-size:35px;
    color:whitesmoke;
}
.recommended .recommended-dishes {
    padding-left:-20%;
}

.carousel-cell{
    margin-right:50px;
}
.box{
    width:300px;
    height:300px;
    background-color: red;
}
.box2{
    width:300px;
    height:300px;
    background-color: black;
}

@media screen and (max-width:580px) {
    .nav{
        display: none;
    }
    .openmenu{
        font-size: 1.4em;
    }
    .closemenu{
        font-size: 1.4em;
        display: none;
    }
}