
*
{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}



body{
width:100vw;
height:0;
background: linear-gradient(45deg, #edeff5, #acbcce ,#6a7f99 45%);
padding-top:64px;
background: rgb(225,225,226);
background-image: url(../Images/backgrounds/blog-pattern-bg.png);
animation: all 3s ease-in-out;
padding-bottom:500px;
}
body::-webkit-scrollbar {
    display: none; 
}


.note{
    position: fixed;
    width:100%;
    text-align: center;
    font-size: 1.5em;
    color:black;
    line-height: 64px;
    margin-top:-64px;
    background-color: rgb(187, 186, 186);
    z-index: 16;
}
.flex{
    display: flex;
}
span{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.05em;
}
.loginPage{
    width:100vw;
    margin-top:-64px;
    height: 100vh;
    background-image: linear-gradient(#f35285, #f74444 75%);
    align-items: center;
    justify-content: center;
    z-index:15;
    position:fixed;
}
.form{
    width:340px;
    height:400px;
    background-color: rgb(228, 228, 228);
    padding:10px 10px;
    border:3px solid rgb(8, 8, 8);
    border-radius: 15px;
}
input{
    background-color: whitesmoke;
    border-radius:5px;
    border: none;
    height:30px;
    width:70%;
    padding:0 5px;
    letter-spacing: 0.05em;
    max-width: 206px;
    caret-color: red;
}
.info{
    flex-direction: column;
    gap:20px;
}
.check{
    display: none;
    text-align: center;
    color: red;
    margin-top:5px;
    font-weight: 600;
}
.spam{
    color:black;
    font-size:1.2rem;
}
.button{
    width:130px;
    overflow: hidden;
    margin:auto;
    margin-top:25px;
    color:red;
    border-radius: 3px;
    font-size:1.4em;
    border:2px solid black;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0.01em;
    background-color: rgb(236, 235, 235);
}
.button:hover{
    transform: scale(1.01);
    color:black;
    background-color:#f8b7cb;
}
.name{
    justify-content: space-between;
    gap:10px;
}
.email{
    justify-content: space-between;
    gap:10px;
}
.otp{
    margin-top:30px;
    display: none;
    overflow: hidden;
    transition: all .6s ease-in-out;
    transform-origin: center;
    width:0px;
    height:0px;
    overflow: hidden;
}
.enterOtp{
    justify-content: space-between;
    align-items: center;
}
.submit{
    display: none;
    width:72px;
    height:30px;
    border-radius:5px;
    margin-top: 10px;
    margin-left: 120px;
    background-color: rgb(236, 235, 235);
}
.submit:hover{
    background:#f8b7cb;
    transform: scale(1.02);
}
.skip{
    display: flex;
    align-items: center;
    justify-content: center;
    width:70px;
    height: 30px;
    border-radius:5px;
    margin:auto;
    border:2px solid black;
    background-color: rgb(236, 235, 235);
    margin-top:20px;
}
.skip:hover{
    background:#f8b7cb;
    transform: scale(1.02);
}






























.mainpage{
    width:100vw;
    height:auto;
    overflow: hidden;
}
header{
    display: none;
}
.navbar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    width:100%;
    height:64px;
    align-items: center;
    background-color: whitesmoke;
    z-index: 11;
    margin-bottom: 100px;
    top:0px;
    box-shadow: 0px 0px 20px 0px black;
}
.col1{
    font-family:cursive;
    margin-left:20px;
    width:15%;
    justify-content: center;
}
.outer{
    font-size: 1.5em;
    color:red;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-left:10px;
}
.inner{
    color:black;
    filter: drop-shadow(1px 1px 0.5px rgb(251, 130, 130));
}

.outer:hover{
    filter: drop-shadow(2px 2px 1px rgb(248, 4, 4));
    transform: scale(1.05);
}
.col2{
    width:70%;
    justify-content: right;
    gap:5px;
}
.col2{
    transition: all 0.5s ease;
    transform-origin: left;
}
.col2 ul{
    gap:20px;
}
.col2 ul li{
    font-size: 1.4em;
    color:rgb(8, 8, 8);
    position: relative;
    text-decoration: none; 
}
.col2 ul li:hover {
    color: rgb(4, 4, 4);
}
  
.col2 ul li::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.col2 ul li:hover::before {
    transform: scaleX(1);
}

.col2 .searchbar{
    justify-content: center;
    align-items: center;
}
.col2 .searchbar .search{
    display: none;
    width:0px;
    height:125%;
    border-radius: 30px;
    border: 2px solid red;
    outline: none;
    padding:1px 10px;
    transition: all 1s ease-in-out;
}
.col2 .searchbar .icon{
    font-size:1.4em;
    color:black;
}
.col2 .searchbar .cross{
    display: none;
    font-size:1.4rem;
    color:red;
}
.col3{
    width:15%;
    justify-content: right;
    margin-right:30px;
}
.col3 ul{
    gap:20px;
}
.col3 ul li{
    font-size: 1.3em;
    color:black;
}
.col3 ul li:hover{
    filter: drop-shadow(2px 2px 1px rgb(248, 4, 4));
    transform: scale(1.05);
}
.openmenu{
    color:black;
    font-size: 0;
}
.closemenu{
    color:black;
    font-size: 0;
}
.nav2{
    display: none;
    position:fixed;
    width:0;
    height:100%;
    overflow: hidden;
    background-color:whitesmoke;
    transition: all 0.5s ease;
    z-index: 9;
}
.open{
    width:25%;
    flex-direction: column;
    justify-content: center;
    margin:auto;
}
.open li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 40px;
    font-size: 1.4em;
    color:black;
    position: relative;
    text-decoration: none; 
}
  
.open li::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.open li:hover::before {
    transform: scaleX(1);
}
.offers{
    position:relative;
    width:100%;
    height:auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container1{
    width:100%;
    height: 340px;
    background-color: rgb(225,225,226);
    background-image: url(../Images/backgrounds/blog-pattern-bg.png);
}
.container1 .carousel .carousel-cell{
    width:95%;
}
.container1 .carousel .carousel-cell img{
    width:100%;
    height:300px;
    border-radius:30px;
    margin-top:10px;
    -webkit-box-shadow: 1px 8px 41px 6px rgba(255, 0, 0, 0.47); 
    box-shadow: 1px 8px 11px 6px rgba(255, 0, 0, 0.47);
}
.categories-heading{
    position:relative;
    width:100%;
    height:70px;
    margin-top:10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(201,201,201);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-box-shadow: 1px 8px 41px 6px rgba(0,0,0,0.47); 
    box-shadow: 1px 8px 11px 6px rgba(0,0,0,0.47);
}
.categories-heading span{
    text-transform: uppercase;
    font-weight: 700;
    font-size:35px;
    color:res;
    transition: all 0.5s ease-in;
}
.categories-heading span:hover{
    filter: drop-shadow(2px 2px 1px rgb(248, 4, 4));
    transform: scale(1.05);
}
.categories{
    width:100%;
    height:300px;
    padding-top:30px;
    background: rgb(225,225,226);
    border-right:4px solid rgb(201, 201, 201);
    border-left:4px solid rgb(201, 201, 201);
    background-image: url(../Images/backgrounds/blog-pattern-bg.png);
}
.categories .carousel{
    width:100%;
    height:90%;
}
.categories .carousel span{
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.categories .carousel .chef{
    width:220px;
    height:220px;
    border-radius: 240px;
    margin-left:50px;
    margin-right:30px;
    margin-top:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url("../Images/categories/chef/c2.jpg");
    box-shadow: 0 0 10px rgb(61, 61, 61);
}
.categories .carousel .chef span{
    font-size:70px;
    font-weight: 700;
    color:white;
}
 .categories .carousel .restaurant{
    width:220px;
    height:220px;
    border-radius:240px;
    margin-left:50px;
    margin-right:30px;
    margin-top:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url("../Images/categories/restaurant/res-1.jpg");
    box-shadow: 0 0 10px rgb(61, 61, 61);
}
.categories .carousel .restaurant span{
    font-size:28px;
    font-weight: 700;
    color:white;
}
.categories .carousel .zones{
    width:220px;
    height:220px;
    border-radius: 240px;
    margin-left:50px;
    margin-right:30px;
    margin-top:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url("../Images/categories/zones/place-1.png");
    box-shadow: 0 0 10px rgb(61, 61, 61);
}
.categories .carousel .zones span{
    font-size:60px;
    font-weight: 700;
    color:white;
}
.categories .carousel .dish{
    width:220px;
    height:220px;
    border-radius: 240px;
    margin-left:50px;
    margin-right:30px;
    margin-top:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url("../Images/categories/dish/blog3.jpg");
    box-shadow: 0 0 10px rgb(61, 61, 61);
}
.categories .carousel .dish span{
    font-size:80px;
    font-weight: 700;
    color:white;
}
.categories .carousel .brands{
    width:220px;
    height:220px;
    border-radius: 240px;
    margin-left:50px;
    margin-right:30px;
    margin-top:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url("../Images/categories/brands/b4.png");
    box-shadow: 0 0 10px rgb(61, 61, 61);
}
.categories .carousel .brands span{
    font-size:50px;
    font-weight: 700;
    color:white;
}
.recommended-heading{
    width:100%;
    height:70px;
    justify-content: center;
    align-items: center;
    background-color: rgb(201,201,201);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-box-shadow: 1px 8px 41px 6px rgba(0,0,0,0.47); 
    box-shadow: 1px 8px 11px 6px rgba(0,0,0,0.47);
}
.recommended-heading span{
    text-transform: uppercase;
    font-weight: 700;
    font-size:35px;
    color:black;
    transition: all 0.5s ease-out;
}
.recommended-heading span:hover{
    filter: drop-shadow(2px 2px 1px rgb(248, 4, 4));
    transform: scale(1.05);
}
.carousel-cell{
    margin-right:50px;
}
.recommended-dishes{
    flex-wrap: wrap;
    justify-content: center;
    padding-top:50px;
    gap:80px;
    max-height:770px;
    overflow-y: scroll;
    padding-bottom:25px;
}
.recommended-dishes::-webkit-scrollbar{
    display: none;
}
.recommended-dishes .box{
    width:330px;
    height:300px;
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 10px;
    padding:5px;
    border:1px solid red;
    box-shadow: 0 0 10px rgba(249, 1, 1, 0.3);
}
.recommended-dishes .box .image{
    width:100%;
    height:70%;
}
.recommended-dishes .box .image img{
    width:100%;
    height:100%;
    border-radius:10px;
}
.recommended-dishes .box .detail{
    justify-content: space-between;
    margin:10px 0 0 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
}
.recommended-dishes .box .remdetail{
    justify-content: space-between;
    margin:5px 0 0 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    letter-spacing: 0.1em;
}
@media screen and (max-width:580px) {
    .nav{
        display: none;
    }
    .openmenu{
        font-size: 1.4rem;
    }
    .search{
        margin-right:-20px;
    }
    .closemenu{
        font-size: 1.4rem;
        color:black;
        display: none;
    }
    .container1{
        height:270px;
    } 
    .container1 .flickity-viewport {
        height:225px;
    }
    .container1 .carousel .carousel-cell img{
        height:225px;
    }
    .container1 .flickity-page-dots{
        margin-top:-25px;
    }
    .col3{
        display: none;
    }
    .bag{
        justify-content: center;
        gap:5px;
    }
    .profile{
        justify-content: center;
        gap:5px;
    }
    
}
.food-categories{
    width:100%;
    height:70px;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201,201,201);
    -webkit-box-shadow: 1px 8px 41px 6px rgba(0,0,0,0.47); 
    box-shadow: 1px 8px 11px 6px rgba(0,0,0,0.47);
    z-index:5;
}

.food-categories .tabs{
    width:350px;
    margin:auto;
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0  1px 0 rgba(#464647,0.15),0 6px 12px 0 rgba(#4d4d4e,0.15);
    padding:0.75rem;
    border-radius: 99px;
    justify-content: space-around;
    gap:10px;
    
}
.food-categories .tabs .tab{
    z-index:2;
}
.food-categories .tabs input[type="radio"]{
    display: none;
}
.food-categories .tabs .tab{
    display: flex;
    align-items: center;
    justify-content: center;
    height:40px;
    width: 100px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition:all 0.15s ease-in;
}
.notification{
    display: flex;
    justify-content: center;
    align-items: center;
    width:1.5rem;
    height:1.5rem;
    margin-left: 0.5rem;
    border-radius: 50%;
    background-color: #e6eef9;
    transition: all 0.15s ease-in;
}
.food-categories .tabs input:checked + label{
    color:rgb(255, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.food-categories .tabs input:checked label > .notification{
    background-color: #e6eef9;
    color:green;
}
.food-categories .tabs input[id="radio-1"]:checked ~ .glider{
    transform: translateX(-100%);
}
.food-categories .tabs input[id="radio-2"]:checked ~ .glider{
    transform: translateX(0);
}
.food-categories .tabs input[id="radio-3"]:checked ~ .glider{
    transform: translateX(100%);
}
.glider{
    position:absolute;
    display: flex;
    height:40px;
    width:115px;
    background-color: #7d7d7d;
    z-index: 1;
    border-radius: 99px;
    transition: all 0.25s ease-out;
}

@media screen and (min-width:581px) {
    .container1{
        height: 340px;
    } 
    .container1 .flickity-viewport {
        height:300px;
    }
    .container1 .carousel .carousel-cell img{
        height:300px;
    }
    .container1 .flickity-page-dots{
        margin-top:0;
    }
}
.flickity-viewport{
    background: rgb(225, 225, 226);
    background-image: url(../Images/backgrounds/blog-pattern-bg.png);
}
.flickity-page-dots{
    background: rgb(225, 225, 226);
    background-image: url(../Images/backgrounds/blog-pattern-bg.png);
}





.indian-food{
    margin-top:64px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:50px;
    gap:80px;
    max-height:770px;
    overflow-y: scroll;
    padding-bottom:25px;
    z-index:0;
    position:absolute;
    background-color: rgb(225,225,226);
}
.indian-food::-webkit-scrollbar{
    display: none;
}
.indian-food .box{
    width:330px;
    height:300px;
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 10px;
    padding:5px;
    border:1px solid red;
    box-shadow: 0 0 10px rgba(249, 1, 1, 0.3);
}
.indian-food .box .image{
    width:100%;
    height:70%;
}
.indian-food .box .image img{
    width:100%;
    height:100%;
    border-radius:10px;
}
.indian-food .box .detail{
    justify-content: space-between;
    margin:10px 0 0 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
}
.indian-food .box .remdetail{
    justify-content: space-between;
    margin:5px 0 0 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    letter-spacing: 0.1em;
}

.healthy-food{
    margin-top:64px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:50px;
    gap:80px;
    max-height:770px;
    overflow-y: scroll;
    padding-bottom:25px;
    z-index:2;
    position:absolute;
    background-color: rgb(225,225,226);
}
.healthy-food::-webkit-scrollbar{
    display: none;
}
.healthy-food .box{
    width:330px;
    height:300px;
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 10px;
    padding:5px;
    border:1px solid red;
    box-shadow: 0 0 10px rgba(249, 1, 1, 0.3);
}
.healthy-food .box .image{
    width:100%;
    height:70%;
}
.healthy-food .box .image img{
    width:100%;
    height:100%;
    border-radius:10px;
}
.healthy-food .box .detail{
    justify-content: space-between;
    margin:10px 0 0 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
}
.healthy-food .box .remdetail{
    justify-content: space-between;
    margin:5px 0 0 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    letter-spacing: 0.1em;
}



.foreign-food{
    margin-top:64px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:50px;
    gap:80px;
    max-height:770px;
    overflow-y: scroll;
    padding-bottom:25px;
    z-index:0;
    position:absolute;
    background-color: rgb(225,225,226);
}
.foreign-food::-webkit-scrollbar{
    display: none;
}
.foreign-food .box{
    width:330px;
    height:300px;
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 10px;
    padding:5px;
    border:1px solid red;
    box-shadow: 0 0 10px rgba(249, 1, 1, 0.3);
}
.foreign-food .box .image{
    width:100%;
    height:70%;
}
.foreign-food .box .image img{
    width:100%;
    height:100%;
    border-radius:10px;
}
.foreign-food .box .detail{
    justify-content: space-between;
    margin:10px 0 0 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
}
.foreign-food .box .remdetail{
    justify-content: space-between;
    margin:5px 0 0 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    letter-spacing: 0.1em;
}